{% extends 'dashboard/header_footer.html' %}
    {% block title %}MySite - Add Application{% endblock %}
{% load static %}

{% block content %}
  <h2>Add New Application</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="job">Select Job:</label>
    <select name="job" required>
        {% for job in jobs %}
          <option value="{{ job.id }}">{{ job.title }}</option>
        {% endfor %}
    </select>
    <br><br>
    {{ form.as_p }}
    <button type="submit">Submit Application</button>
  </form>
{% endblock %}
